.Lab_container{
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
}
.Lab_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Lab_table{
    list-style: none;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}
.Lab_rowC{
    padding: 0px;
    display: flex;
}
.Lab_row,
.Lab_header_row{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: default;
    transition: all 0.3s ease-in-out;
}

.Lab_rowContainer{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 180px;
    background-color: rgb(22, 22, 22);
    margin-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.3 ease-in-out;
}
.el_header_no{
    border-top-left-radius: 5px;
}
.el_header_status{
    border-top-right-radius: 5px;
}
.Lab_rowC:last-child li:last-child{
    border-bottom-right-radius: 5px;
}
.Lab_rowC:last-child li:first-child{
    border-bottom-left-radius: 5px;
}
.el_header_no,
.el_header_zb,
.el_header_id,
.el_header_name,
.el_header_kod,
.el_header_status{
    background-color: rgb(122, 122, 122);
    padding: 10px 3px;
    display: flex;
    box-sizing: border-box;
    margin: 1px 0;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600px;
}

.el_no,
.el_zb,
.el_id,
.el_name,
.el_kod,
.el_status{
    background-color: rgb(63, 63, 63);
    padding: 5px 3px;
    display: flex;
    box-sizing: border-box;
    margin: 1px 0;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400px;
    height: 50px;
}

.Lab_row:hover{
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    cursor: pointer;
}


.el_header_no,
.el_no{
    width: calc((100%/21)*2);
}
.el_header_zb,
.el_zb{
    width: calc((100%/21)*6);
}
.el_header_id,
.el_id{
    width: calc((100%/21)*4);
}
.el_header_kod,
.el_kod{
    width: calc((100%/21));
}
.el_header_name,
.el_name{
    width: calc((100%/21)*5);
}
.el_header_status,
.el_status{
    width: calc((100%/21)*3);
}


.newTest,
.results{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.863);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: 2;
}
.newTest_shadowbox,
.results_shadowbox{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1;
}
.Lab_btn_wrapper{
    cursor: pointer;
}
.newTest_Slider_text{
    color: white;
}
.newTest_dropdown_backdrop{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.newTest_Title,
.results_Title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 01.4;
    font-size: 20px;
    font-family: "Kufam";
    color: #ffffff;
}
.newTest_Slider_Container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 2;
}
.newTest_Slider{
    background-color: rgb(63, 63, 63);
    width: 100%;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 2px;
    font-family: "Kufam";
    font-size: 18px;
    color: #7a7a7a;
    cursor: pointer;
    margin: 0;
}
.newTest_Slider p{
    margin: 0;
    padding: 0;
}
.newTest_dropdown{
    position: absolute;
    top:29px;
    left:-1px;
    width: 100%;
    height: 45px;
}

.newTest_dropdown ul{
padding: 0;
}
.slider_el{
    display: flex;
    flex-direction: column;
    height: 45px;
    width: 100%;
    padding: 0;
    font-size: 21px;
    z-index: 4;
    background-color: rgb(31, 31, 31);
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.slider_el:first-child{
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.slider_el:first-child{
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.slider_el:last-child{
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.slider_el:hover{
    background-color: #7a7a7a;
}
.newTest_input{
    margin-top: 15px;
    width: 60%;
    padding: 10px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Kufam";
    font-size: 18px;
    background-color: rgb(63, 63, 63);
    border: 1px solid rgb(131, 131, 131);
    border-radius: 2px;
    color: #ffffff;
}
.newTest_button{
    margin-top: 15px;
    width: 150px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Kufam";
    font-size: 13px;
    background-color: rgb(110, 110, 110);
    border: 1px solid rgb(168, 168, 168);
    border-radius: 2px;
    color: #ffffff;
    margin-top: 40px;
}
.newTest_button:hover{
    background-color: rgb(204, 204, 204);
    color:#474747;
    cursor: pointer;
}
.Lab_rowInfo{
    display: flex;
    max-width: 90%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.Lab_rowInfo_el{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Lab_order_infoTitle{
    margin: 0;
    padding: 0;
    color:#b3b3b3;
}

.Lab_order_infoValue{
    margin: 0;
    padding: 0;
}
.Lab_order_infoValue_red{
    margin: 0;
    padding: 0;
    color:red;
}

@media screen and (max-width: 600px) {
    .Lab_container{
        padding: 10px;
    }
    .el_header_no,
    .el_header_zb,
    .el_header_id,
    .el_header_name,
    .el_header_kod,
    .el_header_status,
    .el_no,
    .el_zb,
    .el_id,
    .el_name,
    .el_kod,
    .el_status{
        font-size: 12px;
    }
    .newTest{width: 90%;}
    .newTest_Slider_Container,
    .newTest_input{
        width: 80%;
    }
}
@media screen and (max-width: 450px) {
    .Lab_container{
        padding: 10px;
    }
    .el_header_no,
    .el_header_zb,
    .el_header_id,
    .el_header_name,
    .el_header_kod,
    .el_header_status,
    .el_no,
    .el_zb,
    .el_id,
    .el_name,
    .el_kod,
    .el_status{
        font-size: 11px;
    }

}