
.Machines_wrapper{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 10px;
}

.Machines_El,
.Machines_El_ppp,
.Machines_El_zdps,
.Machines_El_rew,
.Machines_El_nadzor{
    width: 180px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 5px;
    -webkit-box-shadow: 9px 11px 9px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 9px 11px 9px -9px rgba(0, 0, 0, 1);
    box-shadow: 9px 11px 9px -9px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    /* height: 400px; */
}

    .Machines_El{
        background: linear-gradient(0deg, rgb(116, 116, 116) 0%, rgb(223, 223, 223) 100%);
    }
    .Machines_El:hover{
        background: linear-gradient(0deg, rgb(160, 160, 160) 0%, rgb(255, 255, 255) 100%);
    }
    .Machines_El_ppp{
        background: linear-gradient(0deg, rgb(191, 204, 71) 0%, rgb(251, 255, 208) 100%);
    }
    .Machines_El_ppp:hover{
        background: linear-gradient(0deg, rgb(243, 255, 135) 0%, rgb(252, 255, 225) 100%);
    }
    .Machines_El_zdps{
        background: linear-gradient(0deg, rgb(116, 116, 116) 0%, rgb(223, 223, 223) 100%);
    }
    .Machines_El_zdps:hover{
        background: linear-gradient(0deg, rgb(160, 160, 160) 0%, rgb(255, 255, 255) 100%);
    }
    .Machines_El_rew{
        background: linear-gradient(0deg, rgb(86, 143, 67) 0%, rgb(146, 194, 137) 100%);
    }
    .Machines_El_rew:hover{
        background: linear-gradient(0deg, rgb(123, 209, 94) 0%, rgb(174, 207, 168) 100%);
    }
    .Machines_El_nadzor{
        background: linear-gradient(0deg, rgb(178, 85, 27) 0%, rgb(228, 191, 137) 100%);
    }
    .Machines_El_nadzor:hover{
        background: linear-gradient(0deg, rgb(239, 129, 61) 0%, rgb(212, 189, 153) 100%);
    }

.Machine_img_container{
    display: flex;
    gap:5px;
    width: 60px;
    height: 25px;
}
.Machine_header{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #292929;
    width: 180px;
    border-radius: 10px 10px 0 0;
    border: solid 1px black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.Machine_body{
    padding: 5px;
}

.Machine_line,
.Machine_line_op,
.Machine_main_line{
    display: flex;
    padding: 0 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Machine_line_op{
    height: 50px;
}
.Machine_main_line{
    gap: 10px;
    margin: 0;
    padding: 0;
}
.Machine_ico{
    width: 25px;
}

.Machine_title{
    padding: 0 5px;
    margin: 0 2px;
    font-family: Oswald;
    font-size: 13px;
    width: 60px;
    text-align: right;
    color: black;
    /* background-color: brown; */
}
.Machine_value{
    padding: 0 5px;
    margin: 0 2px;
    font-family: Oswald;
    font-size: 15px;
    width: 95px;
    color:black;
    /* background-color: darkblue; */
}

.Machine_value_main{
    padding: 0;
    margin: 0;
    font-family: Oswald;
    font-size: 30px;
}

.Machine_value_submain{
    padding: 0;
    margin: 0;
    font-family: Oswald;
    font-size: 15px;
    font-weight: 300;
}

.Machine_order{
    padding: 0;
    margin: 0;
    font-family: Oswald;
    font-size: 25px;
    color:black;
}

.Machine_counter{
    padding: 0;
    margin: 0;
    font-family: Oswald;
    font-size: 30px;
    color:black;
    font-weight: 600;
}

/* Filtry */
.Machines_FilterWrapper{
    background-color: #1c1c1a;
    max-width: 80%;
    display: flex;
    margin:10px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}
.Machines_FilterEl_container{
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.Machines_FilterEl{
    background-color: #292929;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
    /* cursor: pointer; */
    transition: all 0.2s ease-in-out;
    position: relative;
    /* z-index: 1; */
}
.Machines_FilterEl:hover{
    background-color: #404040;
    border: 1px solid red;
}
.Machine_filterIco{
    width: 30px;
    fill: white;
    stroke: white;
    user-select: none;
}
.Machine_filterTitle{
    margin: 0;
    padding: 0;
    font-family: Oswald;
    font-size: 15px;
    color:white;
    font-weight: 400;
    user-select: none;
}
.Filter_scrollMenu{
    position: absolute;
    top: 75px;
    right:-5px;
    z-index: 3;
    background-color: #1c1c1a;
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 0;
    user-select: none;
    z-index: 4;
}
.Filter_scrollMenu_EL{
    padding: 10px 0;
    margin: 0;
    font-family: Oswald;
    font-size: 15px;
    color:white;
    font-weight: 400;
    width: 90%;
    text-align: center;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    user-select: none;
    z-index: 4;
    cursor: pointer;
}
.Filter_scrollMenu_EL:hover{
    background-color: rgb(83, 83, 83);
    color: red;
}

.Filter_scrollMenu_Shadow{
    background-color: rgba(0, 0, 0, 0.187);
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 3;
}

.Machines_TopMenu_Wrapper{
    background-color: #1c1c1a;
    max-width: 500px;
    width: 90%;
    height: 60px;
    margin: 0 auto 10px auto;
    border: 1px solid black;
    border-top: 1px solid #1c1c1a;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.TopMenu_El,
.TopMenu_El_Active{
    background-color: #292929;
    width: 120px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.TopMenu_El_Active{
    background-color: #3a3a3a;
}
.TopMenu_El:hover,
.TopMenu_El_Active:hover{
    background-color: #404040;
    border: 1px solid red;
}

.TopMenu_El_img{
    width: 30px;
}

.TopMenu_El_title{
    margin: 0;
    padding: 0;
    font-family: Oswald;
    font-size: 15px;
    color:white;
    font-weight: 400;
    user-select: none;
}

.fullBar{
    width: 100%;
    height: 16px;
    background-color: #ffffff60;
    margin: 10px;
    border: 1px solid black;
    position: relative;
}

.valueBar{
    max-width: 100%;
    height: 8px;
    background-color: rgb(0, 133, 82);
    background: linear-gradient(90deg, rgb(6, 143, 90) 0%, rgb(16, 194, 126) 100%);
    position: absolute;
    top:0;
    left:0;
}
.valuePlanBar{
    max-width: 100%;
    height: 8px;
    background-color: rgb(0, 133, 82);
    background: linear-gradient(90deg, rgb(6, 93, 143) 0%, rgb(16, 78, 194) 100%);
    position: absolute;
    bottom:0;
    left:0;
}