.MenuEl_wrapper{
    width: 180px;
    height: 180px;
    background-color: #1c1c1a;
    border-radius: 10px;
    border: 1px solid black;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
    font-size: 25px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}
.MenuEl_wrapper:hover{
border: 1px solid red;
}
.MenuEl_img{
    width: 100px;
    height: 100px;
    margin: 0;
}

.MenuEl_title{
    margin: 0;
}

@media screen and (max-width: 500px) {
    .MenuEl_wrapper{
        width: 110px;
        height: 110px;
        background-color: #1c1c1a;
        border-radius: 10px;
        border: 1px solid black;
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Oswald;
        font-size: 15px;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
    }
    .MenuEl_img{
        width: 70px;
        height: 70px;
        margin: 0;
    }
  }
  @media screen and (max-width: 400px) {
    .MenuEl_wrapper{
        width: 110px;
        height: 110px;
        background-color: #1c1c1a;
        border-radius: 10px;
        border: 1px solid black;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Oswald;
        font-size: 15px;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
    }
    .MenuEl_img{
        width: 70px;
        height: 70px;
        margin: 0;
    }
  }