
.Translator_wrapper{
    /* background-color: rgb(114, 0, 0); */
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    font-family: kufam;
    font-size: 15px;
    align-items: center;
}
.Translator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.tran_text{
    height: 300px;
    width: 50%;
    border: 1px solid white;
    padding: 15px;
    box-sizing: inherit;
    background-color: #1c1c1a;
    border-radius: 5px;
}

.tran_btn{
    height: 50px;
    width: 140px;
    margin: 10px 0 50px 0;
}
.tran_results{
    width: 50%;
    border: 1px solid white;
    padding: 15px;
    background-color: #1c1c1a;
    border-radius: 5px;
}
.tran_title{
    margin: 0;
    padding: 0;
}